<%- include('./partials/header'); -%>
<%- include('./partials/navbar'); -%>
<%course=course[0]%>
<div style="
    text-shadow: 1px 0px 10px black;
    font-family: 'Source Code Pro', monospace,arial,sans-serif;
    color: rgb(251, 255, 235);
    text-align: center;
    background: linear-gradient(rgba(59, 59, 59, 0.242), rgba(109, 109, 133, 0.188)),url('https://images.unsplash.com/photo-1532012197267-da84d127e765?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHJlYWRpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    padding: 30px;
    letter-spacing: 0.02rem;
    background-size: cover;
    background-position: center;
">


    <div style="
        width: 70vw;
        margin: 10px auto;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        padding: 30px;
        background: linear-gradient(to bottom right,rgba(52, 174, 147, 0.678),rgba(21, 141, 59, 0.684));
    ">
    <h2>Course Name: <%=course.courseName%></h2>
    <br>
    <h2>
        course Code: <%=course.courseCode%>
    </h2>
<br>
    <h3>Description:</h3>
    <br>
<%for(let sentence of course.desc){%>
    <h5><%=sentence%></h5>
    <%}%>
    </div>
</div>
