<%- include('./partials/header'); -%>
<%- include('./partials/navbar'); -%>

    <div class="container-fluid">
        <div class="row row-research">
            <div class="col-lg-12">
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1>Research</h1>
            </div>
        </div>

    </div>

    <div class="container-fluid background" style="text-align: center;">
        <h2>Research</h2>
    </div>

    <div class="container-fluid profile-background" style="text-align: center;">
        <br>
        <div class="profile1">
            <br>
            <br>
            <br>
            <h1>Profile link</h1>
            <hr>
            <h4>Publons : <a href="<%=link[0].publon%>">Link</a></h4>
            <h4>Scopus : <a href="<%=link[0].scopus%>">Link</a></h4>
            <h4>Google Scholar : <a href="<%=link[0].googleScholar%>">Link</a></h4>
            <h4>DBLP : <a href="<%=link[0].DBPL%>">Link</a></h4>
            <h4>Orchid : <a href="<%=link[0].Orchid%>">Link</a></h4>
            <br>
        </div>
        <br>
        <div class="container-fluid">
            <%for(let files of research){%>
                <div class="profile">
                    <br>
                    <h1><%=files.year%></h1>
                    <hr>
                    <ol>
                        <%for(let record of files.info){%>
                            <li><h3><%=record.desc%></h3></li>
                            <br>
                            <%}%>
                    </ol>
                </div>
                <br>
                <br>
                <%}%>
            <!-- <div class="profile">
                <br>
                <h1>2020</h1>
                <hr>
                <h3>&#8594;  Singh, R. et.al. MediSecFed: Private and Secure Medical Image Classification in the Presence of Malicious
                    Clients, IEEE Transactions on Industrial Informatics (IF 10.21)</h3>
                <br>
                <h3>&#8594;  Singh, R. et.al. MediSecFed: Private and Secure Medical Image Classification in the Presence of Malicious
                    Clients, IEEE Transactions on Industrial Informatics (IF 10.21)</h3>
                    <br>
                    <h3>&#8594;  Singh, R. et.al. MediSecFed: Private and Secure Medical Image Classification in the Presence of Malicious
                        Clients, IEEE Transactions on Industrial Informatics (IF 10.21)</h3>
                    <br>
                    <h3>&#8594;  Singh, R. et.al. MediSecFed: Private and Secure Medical Image Classification in the Presence of Malicious
                        Clients, IEEE Transactions on Industrial Informatics (IF 10.21)</h3>
                        <br>
                        <h3>&#8594;  Singh, R. et.al. MediSecFed: Private and Secure Medical Image Classification in the Presence of Malicious
                            Clients, IEEE Transactions on Industrial Informatics (IF 10.21)</h3>
                        <br>
                        <h3>&#8594;  Singh, R. et.al. MediSecFed: Private and Secure Medical Image Classification in the Presence of Malicious
                            Clients, IEEE Transactions on Industrial Informatics (IF 10.21)</h3>
                            <br>
            </div>
            <br>
            <div class="profile">
                <br>
                <h1>2019</h1>
                <hr>
                <h3>&#8594;  Singh, R. et.al. MediSecFed: Private and Secure Medical Image Classification in the Presence of Malicious
                    Clients, IEEE Transactions on Industrial Informatics (IF 10.21)</h3>
                <br>
                <h3>&#8594;  Singh, R. et.al. MediSecFed: Private and Secure Medical Image Classification in the Presence of Malicious
                    Clients, IEEE Transactions on Industrial Informatics (IF 10.21)</h3>
                    <br>
                    <h3>&#8594;  Singh, R. et.al. MediSecFed: Private and Secure Medical Image Classification in the Presence of Malicious
                        Clients, IEEE Transactions on Industrial Informatics (IF 10.21)</h3>
                    <br>
                    <h3>&#8594;  Singh, R. et.al. MediSecFed: Private and Secure Medical Image Classification in the Presence of Malicious
                        Clients, IEEE Transactions on Industrial Informatics (IF 10.21)</h3>
                        <br>
                        <h3>&#8594;  Singh, R. et.al. MediSecFed: Private and Secure Medical Image Classification in the Presence of Malicious
                            Clients, IEEE Transactions on Industrial Informatics (IF 10.21)</h3>
                        <br>
                        <h3>&#8594;  Singh, R. et.al. MediSecFed: Private and Secure Medical Image Classification in the Presence of Malicious
                            Clients, IEEE Transactions on Industrial Informatics (IF 10.21)</h3>
                            <br>
            </div>
            <br> -->
            
        </div>
        <br>
    </div>


<%- include('./partials/footer'); -%>