<%- include('./partials/header'); -%>
<%- include('./partials/navbar'); -%>

    <div class="container-fluid student-profile">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1>Teaching / Research Guidance </h1>

        </div>
    </div>

    <div class="container-fluid background-student">
        <h3>Teaching / Research Guidance </h3>
    </div>
    
    <div class="container-fluid add-student">
        <br>
        <%for(let guider of guide){%>
            <%if(guider.degree=='phd'){%>
                <div class="phd-section" >
                    <br>
                    <h3>Doctor of Philosophy</h3>
                    <hr>
                    <br>
                    <%for(let student of guider.info){%>
                    <div class="ug-student" style="text-align: left;">
                       
                        <h3>Name: <%=student.name%></h3>
                       <h3>Title of the project: <%=student.title%></h3>
                       <h3>Time taken: <%=student.time%></h3>
                       <h3>project:  <%=student.project%></h3>
                       <h3>Duration: <%=student.duration%></h3>
                       <h3>Affiliation:  <%=student.affiliation%></h3>
                       <h3>Status: <%=student.status%></h3>
                       </div>
                       <br>
                       <%}%>
        
        
                </div>
                
                <br>
                <br>  
            <%}else if(guider.degree=='master'){%>   
         
                <div class="pg-section" >
                    <br>
                    <h3>Postgraduate students</h3>
                    <hr>
                    <br>
                    <%for(let student of guider.info){%>
                    <div class="pg-student" style="text-align: left;">
                        <h3>Name: <%=student.name%></h3>
                       <h3>Title of the project: <%=student.title%></h3>
                       <h3>Time taken: <%=student.time%></h3>
                       <h3>project:  <%=student.project%></h3>
                       <h3>Duration: <%=student.duration%></h3>
                       <h3>Affiliation:  <%=student.affiliation%></h3>
                       <h3>Status: <%=student.status%></h3>
                       </div>
                       <br>
                       <%}%>
                </div>
                <br>
                <br>
                <%}else if(guider.degree=='bachelor'){%>
            
            <div class="ug-section" >
                <br>
                <h3>Undergraduate students</h3>
                <hr>
                <br>
                <%for(let student of guider.info){%>
                <div class="ug-student" style="text-align: left;">
                    <h3>Name: <%=student.name%></h3>
                    <h3>Title of the project: <%=student.title%></h3>
                    <h3>Time taken: <%=student.time%></h3>
                    <h3>project:  <%=student.project%></h3>
                    <h3>Duration: <%=student.duration%></h3>
                    <h3>Affiliation:  <%=student.affiliation%></h3>
                    <h3>Status: <%=student.status%></h3>
                </div>
                <br>
                <%}%>
            </div>
            <br>
            <br>
           
            <%}else if(guider.degree=='intern'){%>
                
                
        <div class="intern-section" >
            <br>
            <h3>Intern students</h3>
            <hr>
            <br>
            <%for(let student of guider.info){%>
            <div class="ug-student" style="text-align: left;">
                <h3>Name: <%=student.name%></h3>
                <h3>Title of the project: <%=student.title%></h3>
                <h3>Time taken: <%=student.time%></h3>
                <h3>project:  <%=student.project%></h3>
                <h3>Duration: <%=student.duration%></h3>
               </div>
               <br>
               <%}%>

        </div>
        <br>
        <br>
                
                <%}%>
        
    <%}%>

        

        
    </div>

<%- include('./partials/footer'); -%>