<%- include('./partials/header'); -%>
<%- include('./partials/navbar'); -%>

    <div class="container-fluid talk-background">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>EXPERT TALKS, INVITED TALKS</h1>
         <h6>IN</h6>   
        <h1> SEMINARS & WORKSHOPS, FDP</h1>
    </div>

    <div class="talk-nav">
        <h5>EXPERT TALKS, INVITED TALKS IN  SEMINARS & WORKSHOPS, FDP</h5>
    </div>
    <div class="talk-overview">
        <br>
        <%for(let talkInfo of talk){%>
        <div class="container-fluid talk-year">
            <h3> Year <%=talkInfo.year%></h3>
            <hr>
            <%let idx = 1%>
            <%for(let tvltalk of talkInfo.info){%>
                <div class="talk-info">
                    <h5><%=idx%></h5>
                    <hr>
                    <p>Invited talk on</p>
                    <p style="font-family:Arial, Helvetica, sans-serif; font-weight: 700;">
                        <%=tvltalk.title%>
                    </p>
                    <%if(tvltalk.place.length>0)%>
                    <p>at <%=tvltalk.place%> place</p>
                    <%if(tvltalk.place.length>0)%>
                    <p>on <%=tvltalk.date%> date</p>
                </div>
                <%idx = idx + 1%>
                <%}%>
            </div>
            <br>
            <br>
                <%}%>

</div>
    
<%- include('./partials/footer'); -%>