<%- include('./partials/header'); -%>
<%- include('./partials/navbar'); -%>


    <div class="container-fluid teaching-heading">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Teaching</h1>
    </div>
    
    <div class="teaching-nav">
        
        <h3>Teaching</h3>
        
    </div>

    <div class="teaching-info">
        <%for(let teach of teaching){%>
        <div class="semester-year">
            <h1>Semester Year <%=teach.year%></h1>
           
            <hr>
            <%for(let inform of teach.info){%>
            <div class="semester-info">
                <h4>Semester status -> <%=inform.status%></h4>
                <h4>semester -> <%=inform.semester%></h4>
                <h4>Course Code ->  <%=inform.courseCode%></h4>
                <h4>Course Name -> <%=inform.courseName%></h4>
                <h4>Level -> <%=inform.level%></h4>
                <h4>Course Overview <a href="/teaching/<%=inform.courseLink%>">link</a></h4>
            </div>
            <%}%>
            
        </div>
        <%}%>
        
    </div>

    
   


<%- include('./partials/footer'); -%>