<%- include('./partials/header'); -%>
<%- include('./partials/navbar'); -%>

<div class="container-fluid">
    <div class="row workshop-Back">
        <div class="col-lg-12">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1 calss="workHeading">Workshop Conducted</h1>
        </div>
    </div>
</div>

<div class="container-fluid workshopTitle">
    <h3>Workshop Conducted</h3>
</div>


<div class="container-fluid backgroundWork">
    <br>
  
    <%for(const workshop of workshops){%>
        <div class="workshopList">
            <h3 style="text-align: center;"><%=workshop.year%></h3>
                <hr>
            <%for(const desc of workshop.desc){%>
                <p>-> <%=desc%></p>    
            <%}%>
    
        </div> 
        <%}%>
    
        <br>
</div>

<%- include('./partials/footer'); -%>